CMakeCache.txt
CMakeFiles/
CMakeLists.txt
Makefile
cmake_install.cmake

bin/

gtest/gtest.h
gtest/gtest-all.cc
_deps/

test
a.out

lib/libgmock_main.a
lib/libgmock.a
lib/libgtest_main.a
lib/libgtest.a