CMakeCache.txt
CMakeFiles/
CMakeLists.txt
Makefile
cmake_install.cmake

bin/

googletest-build/
googletest-prefix/
googletest-src/
gtest/gtest.h
gtest/gtest-all.cc
_deps/
.github/
.vscode/

# test
a.out

lib/libgmock_main.a
lib/libgmock.a
lib/libgtest_main.a
lib/libgtest.a